* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  background: #ffffff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  max-width: 1000px;
  margin: 25px auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00f408;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #0018f4;
  font-size: 25px;
}

.page {
  padding: 60px 16px;
}

.card {
  max-width: 720px;
  margin: 0 auto;
  background: #19f557;
  border-radius: 16px;
  padding: 24px;
}

.card-text {
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 1.5;
}

.card-title {
  margin: 0 0 12px;
  font-size: 28px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #111;
  color: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  transition:
    transform 0.2s,
    background 0.2s;
}

.btn:hover {
  background: #333;
  transform: scale(1.05);
}

.hero {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 16px;

  display: flex;
  gap: 24px;
  align-items: center;
}

.hero-content {
  flex: 1;
  min-width: 260px;
}

.hero-title {
  margin: 0 0 12px;
  font-size: 40px;
}

.hero-text {
  margin: 0 0 12px;
  font-size: 18px;
  line-height: 1.5;
  color: #0a3a12; /* можно убрать если хочешь */
}

.hero-actions {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.hero-media {
  flex: 1;
  min-width: 260px;
  height: 260px;
  background: #19f557;
  border-radius: 16px;
  border: 2px solid #0a3a12;
}

.btn-secondary {
  background: transparent;
  color: #111;
  border: 2px solid #111;
}

.btn-secondary:hover {
  background: #111;
  color: #fff;
}

/* адаптивность */
@media (max-width: 700px) {
  .hero {
    flex-direction: column;
    align-items: stretch;
  }

  .hero-media {
    height: 200px;
  }
}

.section-title {
  margin: 0 0 16px;
  font-size: 28px;
}

.features {
  padding: 40px 0;
}

.features-grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.feature-card {
  flex: 1;
  min-width: 220px;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  border: 2px solid #19f557;
}

.feature-title {
  margin: 0 0 8px;
  font-size: 20px;
}

.feature-text {
  margin: 0;
  line-height: 1.5;
}
